workspace "one"
workspace "two"

config-notification {
    disable-failed
}

debug {
	emulate-zero-presentation-time
}

gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
		repeat-delay 500
		repeat-rate 40
        xkb {
        }
        numlock
    }
	warp-mouse-to-focus
}
// run niri msg output
output "DP-1" {
    mode "2560x1440@269.996"
    position x=2560 y=0
	scale 1.0
}
output "DP-2" {
	mode "1920x1080@240.000"
	position x=1920 y=0
	scale 1.0
}
output "DP-3" {
    mode "2560x1440@269.996"
    position x=2560 y=0
	scale 1.0
}

animations {
	off
}

layout {
    gaps 7
	background-color "transparent"
    center-focused-column "never"
    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }
    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }
    // You can change the default width of the new windows.
    default-column-width { proportion 0.49; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}
    border {
        off
        width 0 // was 4
        active-color   "#707070"      // Neutral gray
        inactive-color "#d0d0d0"      // Light gray
        urgent-color   "#cc4444"      // Softer red
    }
    focus-ring {
        width 0 // was 2
        active-color   "#808080"      // Medium gray
        inactive-color "#505050"      // Dark gray
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
		//left 50
		right 49
    }  
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}

// == STARTUP ==
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "dms" "run"

spawn-at-startup "bash" "-c" "exec \"$BROWSER\""
spawn-at-startup "Spotify"
spawn-at-startup "freetube"
spawn-at-startup "ghostty -e tmux"

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  TERMINAL "com.mitchellh.ghostty"
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    match app-id="com.mitchellh.ghostty"
    match app-id=r#"^org\.gnome\.Nautilus$"#
	background-effect {
		blur true
	}
}
window-rule {
    match app-id=r#"^org\.gnome\.Nautilus$"#
    //match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}
window-rule {
	match app-id=r#"^firefox$"#
	match app-id=r#"^freetube$"#
	default-column-width { proportion 1.0; }
}
window-rule { 
    match is-active=false
    opacity 0.9
	background-effect {
		blur true
	}
}
window-rule {
	match at-startup=true app-id=r#"^firefox$"#
	match at-startup=true app-id=r#"^Spotify$"#
	match at-startup=true app-id=r#"^freetube$"#
	open-on-workspace "one"
}
window-rule {
	match at-startup=true app-id=r#"^com.mitchellh.ghostty$"#
	open-on-workspace "two"
}

binds {
	// === App Binds ===
    Mod+T hotkey-overlay-title="Open Terminal" { spawn "ghostty" "-e" "tmux"; }
    
    // === Window Management ===
    Mod+Q repeat=false { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+T { toggle-window-floating; }
    Mod+W { toggle-column-tabbed-display; }
    
    // === Focus Navigation ===
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    
    // === Window Movement ===
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }
    
    // === Mouse Wheel Navigation ===
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    
    // === Numbered Workspaces ===
    Mod+1 { focus-workspace "one"; }
    Mod+2 { focus-workspace "two"; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    
    // === Move to Numbered Workspaces ===
    Mod+Shift+1 { move-column-to-workspace "one"; }
    Mod+Shift+2 { move-column-to-workspace "two"; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    
    // === Sizing & Layout ===
    Mod+R { switch-preset-column-width; }
    //Mod+Shift+R { switch-preset-window-height; }
    //Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    //Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    
    // === Manual Sizing ===
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
	Mod+S { set-column-width "50%"; }
    
    // === Screenshots ===
    XF86Launch1 { screenshot; }
    Ctrl+XF86Launch1 { screenshot-screen; }
    Alt+XF86Launch1 { screenshot-window; }
    Print { screenshot; }    
    Mod+P { screenshot; }    
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    // === System Controls ===
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+P { power-off-monitors; }

//  === DMS ===
    Mod+Space hotkey-overlay-title="Application Launcher" { 
        spawn "dms" "ipc" "call" "spotlight" "toggle"; 
    }
    Mod+V hotkey-overlay-title="Clipboard Manager" { 
        spawn "dms" "ipc" "call" "clipboard" "toggle"; 
    }
    Mod+M hotkey-overlay-title="Task Manager" { 
        spawn "dms" "ipc" "call" "processlist" "toggle"; 
    }
    Mod+Comma hotkey-overlay-title="Settings" { 
        spawn "dms" "ipc" "call" "settings" "toggle"; 
    }
    Mod+N hotkey-overlay-title="Notification Center" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+Shift+N hotkey-overlay-title="Notepad" { spawn "dms" "ipc" "call" "notepad" "toggle"; }
    
    // === Security ===
    Mod+Alt+L hotkey-overlay-title="Lock Screen" { 
        spawn "dms" "ipc" "call" "lock" "lock"; 
    }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete hotkey-overlay-title="Task Manager" { 
        spawn "dms" "ipc" "call" "processlist" "toggle"; 
    }
   // === Audio Controls ===
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "increment" "3";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "3";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "micmute";
    }
    
    XF86KbdBrightnessUp allow-when-locked=true {
        spawn "kbdbrite.sh" "up";
    }
    XF86KbdBrightnessDown allow-when-locked=true {
        spawn "kbdbrite.sh" "down";
    }
    // === Brightness Controls ===
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
    }   
    // === System & Overview ===
    Mod+D { spawn "niri" "msg" "action" "toggle-overview"; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Slash { show-hotkey-overlay; }

  

}

// DMS Include Configs
include "dms/cursor.kdl"
