layout {
    background-color "transparent"

    focus-ring {
        active-color   "#aecccb"
        inactive-color "#8b9291"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#aecccb"
        inactive-color "#8b9291"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#aecccb"
        inactive-color "#8b9291"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#aecccb80"
    }
}

recent-windows {
    highlight {
        active-color   "#799695"
        urgent-color   "#ffb4ab"
    }
}