layout {
    background-color "transparent"

    focus-ring {
        active-color   "#bfc9c5"
        inactive-color "#8d9290"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bfc9c5"
        inactive-color "#8d9290"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bfc9c5"
        inactive-color "#8d9290"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bfc9c580"
    }
}

recent-windows {
    highlight {
        active-color   "#262f2d"
        urgent-color   "#ffb4ab"
    }
}